@media (max-width: 576px) {
  .shopping_cart_name {
    text-align: center;
    font-size: 15px;
    display: block;
    line-height: 3px;
  }
  .shopping_cart_price {
    text-align: center;
    margin-left: 0;
    margin-top: 10px;
  }
  .shopping_cart_service {
    margin-left: 0;
    justify-content: center;
  }
  .shopping_cart {
    a {
      margin-left: 0;
      justify-content: center;
    }
  }
  .my_slick_slider_title {
    text-align: center;
  }
  .my_slick_slider {
    .slick-prev {
      left: -3% !important;
      top: 6rem !important;
    }
    .slick-next {
      right: 2% !important;
      top: 6rem !important;
    }
  }

  .designPillsContainer {
    border-radius: 0;
  }
}

@media (min-width: 768px) {
  .my_slick_slider {
    .slick-prev {
      left: -4% !important;
      top: 6rem !important;
    }
    .slick-next {
      right: -2% !important;
      top: 6rem !important;
    }
  }
}
@media (min-width: 1024px) {
  .my_slick_slider {
    .slick-prev {
      left: -2% !important;
      top: 6rem !important;
    }
    .slick-next {
      right: -2% !important;
      top: 6rem !important;
    }
  }
}
@media (min-width: 1440px) {
  .my_slick_slider {
    .slick-prev {
      left: -2% !important;
      top: 6rem !important;
    }
    .slick-next {
      right: -2% !important;
      top: 6rem !important;
    }
  }
}
