@media (max-width: 576px){
    .slick-prev {
        left: -5% !important;
        /*plan to add button image*/
   }
   .slick-next {
        right: -2% !important;
        /*plan to add button image*/
   }
//    .roundbg{
//      width: 60px;
//      height: 60px;
//      padding: 1rem;
//      border-radius: none;
//     }
    .designPillsContainer{
     border-radius: 0;
   }
   
//     button.MuiButtonBase-root{
//      padding: 0rem !important;
//      min-width: auto;
   
//    }
}

@media (min-width: 768px){}

@media (min-width: 1440px){}