@import "--var.scss";
@import "--mixing.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  user-select: none;
}
//
//
//
//
//
//
//
//
//
// old css
.job_vac_table {
  margin-top: 3rem;
}

.table td,
.table th {
  border-top: none;
}

.text-blue {
  color: #0a76e5;
}
.job_vac_table table td,
.job_vac_table table th {
  border-bottom: none !important;
}

.job_vac_table .table > table > tr > td {
  vertical-align: middle;
}
.c1 {
  background-image: linear-gradient(
      -180deg,
      rgba(0, 0, 0, 0.4) -99.72%,
      rgba(0, 0, 0, 0.5) 109.86%
    ),
    url(../Modules/Maxlence/assests/abouthero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: auto;
  background-size: 100%;
}
.wedobullets li::marker {
  color: #0a76e5 !important;
}
.arrowanimate {
  animation: slide1 1s ease-in-out infinite;
  margin-left: 9px;
}
@keyframes slide1 {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10px, 0);
  }
}
.getstartbtn,
.ctasearchbtn,
.viewmore,
.action-button {
  color: #fff !important;
  padding: 0.8rem 2rem !important;
  font-weight: 600 !important;
  text-align: center;
  width: 12rem;
}
.searchnavicon,
.bellicon a img {
  .messageicon {
    a {
      img {
        width: 1rem;
        height: auto;
      }
    }
  }
}

.carticon a img {
  width: 25px;
}

.breadcrumbsec a,
.breadcrumbroot a {
  color: rgba(33, 37, 41, 0.8) !important;
}

.breadcrumbsec::before {
  content: ">";
  margin: 0.4rem;
}

.breadactive a {
  color: rgba(33, 37, 41, 0.5) !important;
}

.featcamp a {
  color: #212529 !important;
}
// old css
//
//
//
//
//
//
//
//
.login_menu_icon {
  width: 24px;
  height: 20px;
  margin-right: 20px;
}
.menu_desbord_btn {
  border: 1px solid #0a76e5;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0a76e5;
  border-radius: 25px;
  width: 12rem;
  height: 43px;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: all 0.3s;
  svg {
    font-size: 22px;
    margin-left: 11px;
    color: #0a76e5;
  }
  &:hover {
    color: white;
    background-color: #0a76e5;
    svg {
      color: white;
    }
  }
}
.login_menu {
  color: #0b1c3f;
  &:hover {
    color: #0b1c3f !important;
  }
}
.acount_img {
  @include bg_img;
  width: 12rem;
  height: 12rem;
  border-radius: 100%;
  border: 12px solid #e2f0ff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  position: relative;
  &:hover {
    .acount_img_inner_btn_div {
      display: block;
    }
  }
}
.acount_img_inner {
  transition: all 0.3s;

  background-color: #0a76e59c;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.acount_img_inner_btn {
  transition: all 0.3s;

  width: 100%;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
  svg {
    font-size: 50px;
  }
}
.acount_img_inner_btn_div {
  transition: all 0.3s;

  width: 100%;
  height: 100%;
  display: none;
}
.account_user_name_div {
  h3 {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 0;
    text-transform: capitalize;
  }
  p {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 16px;
    color: #8e8e8e;
  }
}
.outline_btn {
  border: 1px solid #0a76e5 !important;
  background-color: transparent;
  color: #0a76e5 !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  transition: all 0.3s;
  border-radius: 25px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  &:hover {
    background-color: #0a76e5 !important;
    color: white !important;
  }
}

.full_btn {
  border: 1px solid #0a76e5 !important;
  background-color: #0a76e5 !important;
  color: white !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  transition: all 0.3s;
  border-radius: 25px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  &:hover {
    background-color: transparent !important;
    color: #0a76e5 !important;
  }
}

.account_btn_div {
  text-align: end;
}

.acount_title_div {
  display: flex;
  align-items: center;
}
.form_input_div {
  label {
    font-weight: 500;
    font-size: 18px;
    color: #8e8e8e;
    text-transform: capitalize;
  }
  input {
    padding: 8px 10px;
    gap: 10px;

    width: 640px;
    height: 37px;

    background: #ffffff;
    border: 1.5px solid #cacaca;
    border-radius: 4px;
    &::placeholder {
      font-weight: 500;
      font-size: 14px;
      color: #212529;
    }
  }
}
.account_input_title {
  text-transform: capitalize;
  margin-bottom: 2rem;
  h3 {
    font-weight: 600;
    font-size: 20px;
    color: #719a93;
  }
}
.account_input_hr_div {
  hr {
    margin: 1.5rem 0;
  }
}
.account_input_title_top {
  margin-bottom: 2rem;
  position: relative;
}
.account_input_title_top_inner {
  margin-left: 6rem;
}
.account_edit_icon {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  color: #0a76e5;
}
.your_services_card {
  position: relative;
  background-color: #f6f1f1;
  padding: 1rem;
  border-radius: 10px;
  margin: 0 10rem;
  text-transform: capitalize;
  h3 {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 1.5rem;
  }
  .full_btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}
.your_services_card_btn_1 {
  background-color: #ddb1ff;
  color: #330359;
  font-weight: 500;
  font-size: 16px;
  border-radius: 25px;
  display: inline-block;
  padding: 4px 19px;
  text-transform: capitalize;
  margin-bottom: 0;
}
.your_services_card_btn_Monthly {
  margin-bottom: 0;
  border: 1px solid #0a76e5;
  color: #0a76e5;
  font-weight: 500;
  font-size: 16px;
  display: inline-block;
  padding: 4px 15px;
  position: absolute;
  top: 1rem;
  right: 11rem;
}
//

.my_proprogress_div {
  margin-top: 6px;
  width: 100%;
  height: 6px;
  background-color: #dfdfdf;
  position: relative;
  .my_proprogress_div_inner {
    background-color: #23db62;
    position: absolute;
    height: 6px;
  }
  .progress-bar {
    position: absolute;
    height: 70px;
    background-color: transparent;
    z-index: 77;
    top: -33px;
    &::after {
      content: "";
      background-image: url(../img/dote.png);
      position: absolute;
      right: 0;
      top: 27px;
      @include bg_img;
      width: 18px;
      height: 18px;
      z-index: 2;
    }
  }
}
.my_proprogress_div_text {
  text-align: center;
  margin-top: 3rem;
  p {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
    color: #8e8e8e;
  }
}
.payment_main_title {
  text-transform: capitalize;
  margin-bottom: 2rem;
  h3 {
    font-weight: 600;
    font-size: 20px;
  }
}
.payment_card {
  svg {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    font-size: 20px;
    color: #0a76e5;
  }
  padding: 1rem;
  background-color: #e2f0ff;
  border-radius: 10px;
  width: 35%;
  position: relative;
  h3 {
    font-weight: 700;
    font-size: 18px;
  }
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}
.saved_cards_div {
  background: linear-gradient(
    253.83deg,
    #ffffff 0%,
    #0a76e5 0.01%,
    #00c99c 100%
  );
  border-radius: 10px;
  padding: 1rem;
  position: relative;
  h1 {
    color: white;
    margin: 0;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 23px;
    font-weight: 900 !important;
    letter-spacing: 1px;
    text-transform: capitalize;
  }
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    .saved_cards_div_over_div {
      display: block;
    }
  }
}
.saved_cards_wifi {
  display: flex;
  align-items: center;
  img {
    width: 19px;
    height: 24px;
  }
  p {
    margin-left: 10px;
    text-transform: capitalize;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 14px;
    color: white;
  }
}
.saved_cards_number {
  display: flex;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 4rem;
  position: relative;
  p {
    margin-bottom: 0;
    span {
      color: white;
      font-weight: 550;
      font-size: 27px;
      margin-right: 10px;
      letter-spacing: 4px;
      font-family: none !important;
    }
  }
  img {
    width: 45px;
    position: absolute;
    top: -4px;
    right: 0;
  }
}
.saved_cards_name {
  position: absolute;
  font-weight: 550;
  font-size: 16px;
  margin-bottom: 0;
  bottom: 10px;
  left: 1rem;
  color: white;
}
.saved_cards_date {
  position: absolute;
  font-weight: 550;
  font-size: 16px;
  margin-bottom: 0;
  bottom: 10px;
  right: 1rem;
  color: white;
}
.saved_cards_div_over {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    253.79deg,
    rgba(0, 0, 0, 0.8) 3.15%,
    rgba(0, 0, 0, 0) 100%
  );
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  padding: 1rem;
}
.saved_cards_div_over_edit {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: #c2c2c2b3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  cursor: pointer;
  svg {
    color: white;
    font-size: 24px;
  }
}
.saved_cards_div_over_delete {
  position: absolute;
  top: 5rem;
  right: 1rem;
  background: #c2c2c2b3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  cursor: pointer;
  svg {
    color: white;
    font-size: 24px;
  }
}
.saved_cards_div_over_div {
  display: none;
}
.card_add_new {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  border-radius: 10px;
  cursor: pointer;
  svg {
    font-size: 10rem;
    color: white;
  }
}
.active_nav_my {
  background-color: transparent;
  border: none;
  outline: none;
  margin-left: 10px;
  margin-right: 20px;
}

.my_slick_slider {
  .slick-prev {
    left: -2% !important;
    top: 6rem !important;
  }
  .slick-next {
    right: -2% !important;
    top: 6rem !important;
  }
}
.my_slick_slider_title {
  h2 {
    font-weight: 600;
    font-size: 20px;
    text-transform: capitalize;
    color: #212529;
  }
}
.shopping_cart {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 1rem;
  position: relative;
  .shopping_cart_a_div {
    margin-left: 3rem;
    position: relative;
    display: flex;
    align-items: center;
    a {
      font-weight: 500;
      font-size: 16px;
      color: #0a76e5;
    }
    label {
      width: 1.3px;
      background-color: #c7c7c7;
      height: 17px;
      margin-left: 5px;
      margin-right: 5px;
    }
    span {
      font-weight: 500;
      font-size: 16px;
      text-transform: capitalize;
      color: #0a76e5;
    }
    img {
      width: 20px;
      cursor: pointer;
    }
  }
}
.shopping_cart_name {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 28px;
  margin-left: 3rem;
}
.shopping_cart_price {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 0;
  margin-left: 2rem;
}
.shopping_cart_service {
  margin-left: 3rem;
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  .shopping_cart_btn {
    margin-bottom: 0;
    border: 1px solid #0a76e5;
    color: #0a76e5;
    font-weight: 500;
    font-size: 16px;
    display: inline-block;
    padding: 4px 15px;
    border-radius: 25px;
    margin-left: 18px;
  }
  p {
    margin-bottom: 0;
  }
}
.shopping_cart_bottom {
  text-align: right;
  a {
    display: block !important;
    margin: 0;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
  p {
    margin-bottom: 3rem;
    font-weight: 500;
    font-size: 20px;
    color: #7c7c7c;
    span {
      font-weight: 600;
      font-size: 24px;
      color: #212529;
    }
  }
}
.shopping_cart_top_title {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  margin-left: 3rem;
  margin-bottom: 2rem;
  p {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 20px;
  }
  a {
    font-weight: 500;
    font-size: 16px;
    color: #0a76e5;
    margin-left: 10px;
  }
}

.checkout_address {
  width: 45%;
}
.saved_cards_input {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  .form-check-input:checked[type="radio"] {
    background-image: unset;
  }
  .form-check-input:focus {
    box-shadow: unset !important;
  }
  .form-check-input:checked {
    background-color: #39991c;
    border-color: #39991c;
    border: 2px solid white;
  }
  input {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1;
  }
  label {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
      253.79deg,
      rgba(0, 0, 0, 0.8) 2.15%,
      rgba(0, 0, 0, 0) 100%
    );
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 10px;
  }
}
.order_summary_div {
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1rem;
  width: 100%;
  height: auto;
  position: relative;
  padding-bottom: 3rem;
}
.order_summary_div_title {
  font-weight: 600;
  font-size: 20px;
  text-transform: capitalize;
  svg {
    font-size: 20px;
    position: absolute;
    top: 22px;
    right: 5rem;
    color: #0a76e5;
    cursor: pointer;
  }
  span {
    background: #4f4f4f;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1rem;
    right: 1rem;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    font-weight: 550;
    color: white;
  }
}
.order_summary_details_div {
  position: relative;
  text-transform: capitalize;
  p {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 16px;
    color: #6d6d6d;
  }
  .order_summary_price_div {
    text-align: end;
    margin-top: 15px;
    b {
      font-weight: 600;
      font-size: 16px;
      color: #212529;
    }
  }
}
.order_summary_voucher_div {
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
  color: #616161;
}
.order_summary_total_title {
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
  color: #8b8b8b;
}
.order_summary_total_price {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 16px;
  color: #212529;
  text-align: end;
}
.payment_modes_tab_div {
  .nav {
    display: flex;
  }
  .nav-link {
    border: 1px solid black !important;
    margin-right: 10px;
    font-weight: 500 !important;
    font-size: 16px !important;
    text-align: center;
    width: 13rem;
    color: #263238;
    &:hover {
      color: #0a76e5;
      border-color: #0a76e5 !important;
    }
    img {
      width: 40px;
      margin-left: 2px;
    }
  }
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    color: #0a76e5 !important;
    background-color: #c7e3ff !important;
    border-color: #0a76e5 !important;
  }
}
.gpay_link {
  color: white !important;
  background-color: black !important;
  border-color: black !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  &:hover {
    color: #0a76e5 !important;
    background-color: transparent !important;
  }
}
.form-control:focus {
  box-shadow: unset !important;
}
.card_input_div_input {
  position: relative;
  img {
    position: absolute;
    top: 9px;
    right: 0;
    width: 25px;
  }
}
.card_input_div {
  small {
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    color: #7a7a7a;
  }
  input {
    font-weight: 400;
    font-size: 16px;
    border: none;
    border-radius: 0 !important;
    border-bottom: 1px solid #0a76e5 !important;
    font-weight: 400;
    font-size: 16px;
    font-family: auto !important;
    padding-left: 0;
  }
}
.my_switch {
  .css-mvyxff-MuiSwitch-root .MuiSwitch-thumb {
    color: white !important;
  }
  .css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked
    + .MuiSwitch-track {
    background-color: #0a76e5 !important;
    opacity: 1 !important;
  }
  .css-ahj2mt-MuiTypography-root {
    font-weight: 400;
    font-size: 12px;
    color: #212529 !important;
    text-transform: capitalize;
  }
}

.checkout_btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .checkout_btn {
    padding: 10px;
  }
}
.checkout_back_btn {
  font-weight: 600;
  font-size: 14px;
  color: #0a76e5;
  display: flex;
  justify-content: centeral;
  align-items: center;
  text-transform: capitalize;
  cursor: pointer;
  span {
    margin-right: 5px;
    svg {
      font-size: 20px;
      margin-top: -4px;
    }
  }
}
.getintouch_title_main_top {
  display: flex;
  justify-content: center;
}
.getintouch_title_top_div {
  text-transform: capitalize;
  p {
    font-weight: 500 !important;
    font-size: 14px;
    margin-bottom: 0;
    color: #0a76e5;
  }
  h3 {
    letter-spacing: 0.02em;
    font-weight: 700 !important;
    font-size: 32px;
    color: #0a76e5;
  }
  h1 {
    font-weight: 700 !important;
    font-size: 60px;
    color: black;
  }
  h2 {
    font-weight: 500 !important;
    font-size: 24px;
    color: black;
  }
  h4 {
    font-weight: 700 !important;
    font-size: 26px;
    color: black;
    margin-top: 3rem;
    span {
      font-weight: 500 !important;
      font-size: 16px;
      width: 40rem;
      display: block;
      color: #5e5e5e;
    }
  }
  .getintouch_title_big_title {
    position: relative;

    span {
      position: absolute;
      height: 43px;
      width: 4px;
      background-color: #0a76e5;
      top: 14px;
      left: -18px;
    }
  }
}
.getintouch_TextField_div {
  margin-top: 1rem;

  .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    width: 100%;
  }
  .getintouch_TextField_main {
    margin-bottom: 2rem;
  }
  small {
    text-transform: capitalize;
    font-weight: 500 !important;
    font-size: 16px;
  }
}
.getintouch_upload_div {
  display: flex;
  align-items: center;
  p {
    margin-bottom: 0;
    font-weight: 500 !important;
    font-size: 14px;
    color: #5e5e5e;
    margin-left: 10px;
  }
  .getintouch_upload_btn {
    cursor: pointer;
    border: 1px solid black;
    font-weight: 500;
    color: black;
    padding: 10px;
    font-size: 16px;
  }
}
.vm1_img {
  @include bg_img;
  height: 22rem;
  width: 35rem;
  margin: auto;
}
.video_TopDiv_title {
  h1 {
    font-weight: 600 !important;
    font-size: 48px;
    text-transform: capitalize;
    span {
      color: #0a76e5;
    }
  }
  p {
    font-weight: 500 !important;
    font-size: 14px;
    margin-bottom: 0;
    text-transform: capitalize;
    margin-bottom: 1rem;
  }
}
.video_TopDiv_title_div {
  display: flex;
  align-items: center;
}
.video_top_main_div {
  padding: 40px 30px;
  background-color: #f5f5f5;
}
.video_TopDiv_title_2 {
  text-align: end;
  h1 {
    font-weight: 600 !important;
    font-size: 48px;
    text-transform: capitalize;
    span {
      color: #0a76e5;
    }
  }
  p {
    font-weight: 500 !important;
    font-size: 14px;
    margin-bottom: 0;
    text-transform: capitalize;
    margin-bottom: 1rem;
  }
}
.vm2_img {
  @include bg_img;
  height: 22rem;
  width: 35rem;
  margin: auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.MyCountUp_div {
  display: flex;
  align-items: center;
  justify-content: center;
  .MyCountUp_div_inner {
    position: relative;
    span {
      font-family: unset !important;
      color: #444444;
      margin-top: -5px;
      margin-right: 5px;
      font-size: 40px;
    }
    small {
      font-weight: 800;
      font-size: 31px;
      position: absolute;
      top: 5px;
      right: -21px;
      color: #444444;
    }
  }
}
.MyCountUp_top_div {
  text-align: center;
  p {
    margin-bottom: 0;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 21px;
    font-size: 14px;
    margin-top: 8px;
  }
  img {
    width: 40px;
    height: 40px;
    margin-bottom: 16px;
    margin-left: 10px;
  }
}
.MyCountUp_text_div {
  text-align: center;
  margin-bottom: 2rem;
  h3 {
    font-weight: 600 !important;
    font-size: 40px;
    text-transform: capitalize;
  }
  p {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    text-transform: capitalize;
    color: rgba(33, 37, 41, 0.7);
    span {
      color: rgba(33, 37, 41, 0.7);
    }
  }
}
.video_top_main_div2 {
  padding: 40px 30px;
  background-color: #e2f0ff;
}
.Banner_text_div {
  text-align: center;
  text-transform: capitalize;
  h3 {
    margin-bottom: 1.5rem;
    font-weight: 600 !important;
    font-size: 40px;
    line-height: 47px;
    span {
      font-weight: 600 !important;
      font-size: 40px;
      line-height: 47px;
      color: black;
      span {
        color: #ff8a6d;
      }
    }
  }
  p {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: rgba(33, 37, 41, 0.7);
  }
}
.package_card {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
  h3 {
    font-weight: 700 !important;
    font-size: 40px;
    line-height: 47px;
    color: #212529;
    span {
      color: #0a76e5;
    }
  }
  p {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
  }
}
.package_card_row {
  display: flex;
  justify-content: center;
}
.package_card_box_col {
  margin-right: -25px;
  margin-bottom: 2rem;
}
.package_card_box {
  padding: 1rem;
  border-top: 7px solid #0a76e5;
  position: relative;
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.16);
  background-color: white;
  z-index: 0;
  transition: transform 0.3s;

  min-height: 60rem;
  overflow: hidden;
  &:hover {
    -ms-transform: scale(0.1); /* IE 9 */
    -webkit-transform: scale(0.1); /* Safari 3-8 */
    transform: scale(0.9);
  }
  .package_card_box_bage {
    height: 7rem;
    width: 7rem;
    background-color: #0a76e5;
    position: absolute;
    top: -65px;
    right: -48px;
    z-index: -1;
    transform: rotate(129deg);
  }
  .package_card_box_bage_text {
    position: absolute;
    color: white;
    top: 5px;
    right: 0px;
    transform: rotate(39deg);
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    text-align: center;
  }
}
.package_card_box_header {
  text-align: center;
  text-transform: capitalize;
  margin-top: 1.5rem;
  h3 {
    font-weight: 500 !important;
    font-size: 24px;
  }
  p {
    font-weight: 400 !important;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
    color: #7a7a7a;
  }
}
.package_card_box_price {
  text-align: center;
  text-transform: capitalize;
  margin-top: 1rem;
  del {
    font-weight: 500 !important;
    font-size: 36px;
  }
  div {
    font-weight: 600 !important;
    font-size: 14px;
    color: #7a7a7a;
    margin-top: 6px;
    span {
      font-weight: 500 !important;
      font-size: 36px;
      margin: 0 8px;
    }
  }
}
.package_card_box_overview {
  text-transform: capitalize;
  margin-top: 1.5rem;
  h3 {
    font-weight: 500 !important;
    font-size: 16px;
    color: #212529;
    margin-bottom: 5px;
  }
  p {
    font-weight: 500 !important;
    font-size: 14px;
    color: #7a7a7a;
    margin-bottom: 0;
  }
}
.package_card_box_list_div {
  margin-top: 1rem;
  .package_card_box_list {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0;
    img {
      height: 20px;
      width: 20px;
      margin-top: 2px;
    }
    p {
      margin-bottom: 10px;
      font-weight: 400 !important;
      font-size: 14px;
      margin-left: 10px;
      line-height: 25px;
      text-transform: capitalize;
    }
  }
}
.package_card_box_btn_div {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: absolute;
  bottom: 1rem;
  left: 110px;
  .package_card_box_btn_bottom {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
  }
}
.full_btn2 {
  color: white !important;
  font-weight: 600;
  font-size: 14px;
  transition: all 0.3s;
  border-radius: 25px;
  text-transform: uppercase;
  padding: 8px 70px;
  margin-top: 7px;
  &:hover {
    background-color: black !important;
    color: white !important;
  }
}
.get_in_touch_video {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  padding: 5rem 0;
}
.get_in_touch_video_inner {
  text-align: center;
  h3 {
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    color: #212529;
    margin-bottom: 2rem;
  }
}
.questionare_page_ul_div {
  display: flex;
  padding: 0;
  li {
    margin: auto;
    position: relative;
  }
}
// .questionare_page_li_inner_div {
//   position: relative;
//   label {
//     position: absolute;
//     top: -4px;
//     left: 19px;
//     color: white;
//   }
// }
.questionare_page_dote1 {
  background-color: #5e9aff;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    margin-bottom: 0;
    font-size: 12px;
    color: white;
    font-family: unset !important;
    letter-spacing: normal !important;
  }
}
.questionare_page_dote2 {
  background-color: #f0f0f0;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    margin-bottom: 0;
    font-size: 12px;
    color: black;
    font-family: unset !important;
    letter-spacing: normal !important;
  }
}
.questionare_page_top_div {
  position: relative;
  progress {
    width: 90%;
    position: absolute;
    top: 12px;
    left: 74px;
  }
}
.questionare_page_top_div_inner {
  width: 100%;
}
.Client_Profile_main_top_div_inner {
  progress {
    border: none;
    background: #5e9aff;
    height: 3px;
  }

  progress {
    color: #5e9aff;
  }

  progress::-webkit-progress-value {
    background: #5e9aff;
  }

  progress::-moz-progress-bar {
    background: #5e9aff;
  }
}
.location_dropdown {
  .css-1dimb5e-singleValue {
    text-transform: capitalize;
  }
  .css-13cymwt-control {
    border: none;
  }
  .css-10wo9uf-option {
    text-transform: capitalize;
  }
  .css-d7l1ni-option {
    text-transform: capitalize;
  }
  .css-tr4s17-option {
    text-transform: capitalize;
  }
}
.Step6_inner_div {
  display: flex;
  justify-content: center;
  align-items: center;
  textarea {
    width: 50%;
  }
}
.step_title_div {
  text-align: center;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  .step_title_div_inner {
    width: 65%;
    margin-bottom: 1.5rem;
  }
  h3 {
    text-transform: capitalize;
    font-size: 28px !important;
    font-weight: 550 !important;
  }
  p {
    margin-bottom: 0;
    font-size: 18px;
    color: #666 !important;
  }
}
.step_btn_div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  .previous {
    margin-right: 10px;
  }
  .next {
    margin-left: 10px;
  }
  .Finish_btn {
    color: white;
    &:hover {
      color: white !important;
    }
  }
}
.step_inner_main_top_div {
  display: flex;
  justify-content: center;
  align-items: center;
  .MuiStepConnector-alternativeLabel {
    left: calc(-50% + 0px);
    right: calc(50% + 0px);
    z-index: 0;
  }
  .MuiStepLabel-iconContainer {
    position: relative;
    z-index: 25;
    background: white;
  }
  .MuiStepIcon-root.MuiStepIcon-active {
    color: #5e9aff;

    .MuiStepIcon-text {
      fill: white;
    }
  }
  .MuiStepIcon-root {
    color: #f0f0f0;
    display: block;
  }
  .MuiStepIcon-text {
    fill: #666666ab;
  }
  .MuiStepIcon-root.MuiStepIcon-completed {
    color: #5e9aff;
  }
}
.stepper_inner_div {
  width: 75%;
}
.stepper_inner_title_div {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
  h3 {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 400 !important;
  }
}
.IOSSwitch_div {
  .css-jsexje-MuiSwitch-thumb {
    color: white;
  }
  .css-j204z7-MuiFormControlLabel-root {
    margin-left: 0;
    margin-right: 0;
  }
}
.IOSSwitch_top_div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
  width: 100% !important;
  background: linear-gradient(
    90deg,
    #000000 12.57%,
    rgba(0, 0, 0, 0) 100%
  ) !important;
}

.Drawer_full_div {
  position: relative;
}
.Drawer_full_div_close {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  cursor: pointer;
  font-size: 35px;
  border-radius: 100%;
  padding: 3px;
  font-weight: 550;
}
.services_modal_page_div {
  position: relative;
  .services_modal_page_inner {
    top: 0rem;
    left: 9rem;
    position: absolute;
    cursor: pointer;
  }
}
.services_modal_page_div2 {
  position: relative;
}
.my_slick_slider3 {
  .slidebluearrows .slick-prev:before,
  .slidebluearrows .slick-next:before {
    color: transparent !important;
  }
}
.mobile_app_tab {
  .nav-item {
    margin: auto;
    .nav-link {
      font-size: 15px;
    }
  }
}
// careers
.careers_profile_div {
  position: relative;
  img {
    @include bg_img;
    height: 19rem;
    width: 100%;
    border-radius: 6px;
    margin: auto;
  }
}
.careers_profile_text_div {
  background: rgba(57, 148, 242, 0.4);
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 1rem;
  color: white;
  h3 {
    font-size: 16px;
    font-weight: 700 !important;
    letter-spacing: 1px !important;
    margin: 0;
  }
  p {
    margin: 0;
    color: white;
    font-size: 13px;
    font-weight: 500;
  }
}
.careers_profile_text_left {
  p {
    font-style: normal;
    font-weight: 500;
    color: #383838;
    line-height: 28px;
    position: relative;
    margin-bottom: 0;
    padding-left: 20px;
    width: 92%;
    &::before {
      content: "";
      width: 0.2rem;
      height: 4rem;
      background: #0a76e5;
      position: absolute;
      left: 0;
      top: 6px;
    }
  }
}
.tab_main_div {
  img {
    @include bg_img;
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    border: 2px solid transparent;
  }
}
.tab_main_top_div {
  .nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    background-color: transparent;

    margin: 0;
    border-radius: 100%;
    img {
      border: 2px solid #0a76e5;
    }
  }
}
// careers end
