@import "--var.scss";
@import "--mixing.scss";
@media (max-width: 320px) {
  .saved_cards_number {
    justify-content: left !important;
  }
}
@media (max-width: 576px) {
  .all_h1_title {
    font-weight: 600 !important;
    font-size: 28px !important;
    line-height: 43px;
  }
  .all_h1_title_p {
    text-align: justify;
  }
  .our_approach_title_div {
    p {
      font-size: 14px;
      text-align: justify;
    }
  }
  .our_approach_col_div {
    h3 {
      font-weight: 500 !important;
      font-size: 20px !important;
    }
    p {
      font-size: 12px;
      text-align: justify;
    }
  }
  .our_approach_title_div {
    margin-bottom: 1rem;
    h3 {
      font-weight: 700 !important;
      font-size: 27px !important;
    }
  }
  .website_redesign_text_div {
    p {
      text-align: justify;
    }
  }
  .website_redesign_text_div_btn {
    margin-bottom: 2rem;
    margin-top: 1.5rem;
  }
  .your_slow_loading {
    h3 {
      margin-top: 1.5rem;
    }
  }
  .your_slow_loading_btn {
    text-align: center;
    margin-top: 2rem;
  }
  .your_slow_loading {
    h3 {
      font-weight: 700 !important;
      font-size: 24px !important;
      text-align: center;
    }
    p {
      font-size: 15px;
      text-align: justify;
    }
  }
  .your_slow_loading_ul {
    margin-bottom: 1rem !important;
    .first_li {
      justify-content: center;
      p {
        font-weight: 500;
        font-size: 20px;
      }
      img {
        width: 35px;
        height: 35px;
      }
    }
  }
  .why_you_need_number {
    h3 {
      font-size: 25px;
      margin-bottom: 1.5rem;
    }
    h4 {
      font-size: 35px;
    }
    p {
      font-size: 15px;
    }
  }
  .why_you_need_top_text {
    p {
      font-size: 18px;
      text-align: justify;
    }
  }
  .website_redesign_text_img_div {
    img {
      width: 100%;
      height: 25rem;
      margin-top: 0rem;
    }
  }
  .website_redesign_text_div {
    text-align: center;
    padding-top: 5rem !important;
    h3 {
      font-size: 18px !important;
      font-weight: 600 !important;
    }
  }
  .Agreement_btn_div {
    button {
      width: 50%;
    }
  }
  .Search_my_div {
    width: 100%;
    img {
      width: 15px;
    }
    input {
      padding-left: 45px;
    }
  }
  .accept_cookies_img_div {
    img {
      height: 11rem;
      width: 17rem;
    }
    p {
      font-size: 14px;
    }
  }
  .accept_cookies_main_div {
    width: 95%;
  }
  .video_div {
    width: 100%;
    height: 15rem;
  }
  .view_case_studies_text_div {
    text-align: center;
    h3 {
      font-weight: 700 !important;
      font-size: 24px !important;
    }
    p {
      text-align: justify;
    }
  }
  .view_case_studies_img {
    width: 100%;
    height: 25rem;
    margin-top: 3rem;
  }

  .our_clients_item_div_text {
    .Svg1 {
      display: none;
    }
    .Svg2 {
      display: none;
    }
  }
  .our_clients_top_div_title {
    h3 {
      font-weight: 700 !important;
      font-size: 25px !important;
      margin-bottom: 1rem;
    }
  }
  .our_clients_top_div {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
  .our_clients_top_union3 {
    display: none;
  }
  .our_clients_top_union2 {
    display: none;
  }
  .our_clients_top_union1 {
    display: none;
  }
  .our_clients_top_div {
    .our_clients_item_div {
      width: 95%;
      h3 {
        font-weight: 600 !important;
        font-size: 18px !important;
      }
    }
  }
  .desktop_tab_div_title {
    h3 {
      font-weight: 700 !important;
      font-size: 22px !important;
      margin-bottom: 0;
    }
    p {
      font-size: 11px;
      margin-bottom: 8px;
    }
  }
  .mobile_tab_div {
    display: block;
  }
  .package_card_top_right {
    margin-top: 1rem;
  }
  .package_card_header {
    h3 {
      font-weight: 700 !important;
      font-size: 17px !important;
    }
  }
  .package_card_box {
    min-height: auto;
  }
  .package_card_top_3 {
    overflow: unset;
    height: auto;
  }
  .package_card_up {
    display: none;
  }
  .package_card_top_4 {
    display: none;
  }
  .package_card_box {
    h3 {
      position: relative;
      top: unset;
      left: unset;
      font-size: 14px !important;
    }
  }
  .package_card_bottom {
    margin-top: 15px !important;
    .package_card_header {
      display: block;
    }
    .package_card_recommended_div {
      display: unset;
    }
  }
  .cart_tabel {
    overflow-x: auto;
    display: block;
  }
  .img_view_modal_inner_div {
    max-height: 33rem;
  }
  .img_view_modal_div {
    width: 95%;
  }
  .design_inspiration_modal_div {
    width: 95% !important;
  }
  .testimonial_riv_div {
    padding: 0 0rem;
  }
  .testimonial_top_inner_div {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    h3 {
      font-size: 26px !important;
      br {
        display: none;
      }
    }
    p {
      font-size: 14px;
      margin-bottom: 1rem;
      br {
        display: none;
      }
    }
    .video {
      width: 100%;
      height: 315px;
    }
  }
  .YourServices_new_address_div_inner_li {
    width: 100%;
  }
  .YourServices_new_img_text_btn2_div {
    text-align: center;
  }
  .YourServices_new_inner_new {
    .YourServices_new_img_text_btn2 {
      position: relative;
      right: unset;
      top: unset;
      width: 100%;
      margin-top: 13px;
    }
  }
  .delete_modal_my {
    width: 95% !important;
  }
  .questionare_page_end h3 {
    font-weight: 600 !important;
    font-size: 21px !important;
  }
  .questionare_page_end_hr_div {
    hr {
      margin-top: -35px;
      width: 90%;
    }
  }
  .gif_img {
    height: 15rem;
    width: 100%;
  }
  .questionare_page_start {
    padding-top: 3rem;
    padding-bottom: 4rem;
  }
  .questionare_page_start_inner {
    padding: 0 15px;
    p {
      margin-bottom: 5px;
      font-size: 12px;
      line-height: 20px;
    }
  }
  .YourServices_new_img_text_btn2 {
    position: absolute;
    right: 1rem;
    top: -21%;
    font-size: 12px !important;
  }
  .YourServices_new_img_div {
    padding: 1rem;
  }
  .YourServices_new_address_price_div {
    .price_inner {
      position: absolute;
      right: 0%;
    }
  }
  .YourServices_new_address_inner {
    position: relative;
    right: unset;
    top: unset;
    margin-top: 17px;
  }
  .YourServices_new_address_div {
    margin-top: 1rem;
    ul {
      display: block;
    }
    .address_div {
      width: 100%;
      font-size: 14px;
    }
    h3 {
      font-size: 18px !important;
    }
  }
  .YourServices_new_img_text_btn {
    position: absolute;
    right: 1rem;
    top: -7rem;
    font-size: 12px !important;
  }
  .YourServices_new_inner3 {
    position: relative;
    right: unset;
    top: unset;
    .YourServices_new_inner_inner {
      text-align: left;
    }
  }
  .YourServices_new_top {
    display: block;
  }
  .YourServices_new_inner2 {
    margin: 0;
    margin-top: 6px;
    margin-bottom: 6px;
  }
  .mobile_nav_div {
    margin-bottom: 3rem;
  }
  .mobile_nav_div_text {
    font-size: 21px !important;
  }
  .getstartbtn_new {
    width: 100% !important;
  }
  .CenterMode_top {
    .slick-slider {
      padding: 0 0rem;
    }
    .slick-prev {
      left: 254px;
      top: 132px;
    }
    .slick-next {
      right: 254px;
      top: 132px;
    }
  }
  .design_inspiration_img {
    height: 13rem;
    width: 100%;
  }
  .careers_profile_text_div {
    h3 {
      font-size: 16px !important;
    }
  }
  .tab_main_top_div {
    .nav {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      overflow-x: scroll;
      width: 100%;
      flex-wrap: nowrap;
    }
  }
  .careers_profile_text_left {
    p {
      width: 100%;
      margin-top: 1.5rem;
      font-size: 13px;
      line-height: 19px;
      padding-left: 10px;
      text-align: justify;
    }
  }
  .mobile_app_tab {
    .nav {
      overflow-x: scroll;
      width: 100%;
      flex-wrap: nowrap;
      display: flex;
      .nav-link {
        width: 12rem;
        font-size: 12px;
        text-align: center;
      }
    }
  }
  .grleads {
    background-image: none;
  }
  .services_modal_page_div {
    .services_modal_page_inner {
      top: 0rem;
      left: 0rem;
      position: absolute;
      cursor: pointer;
    }
  }
  .creationsublink {
    font-size: 20px;
  }
  .stepper_inner_title_div {
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 0rem;
    padding-left: 10px;
    padding-right: 10px;
    h3 {
      font-size: 15px !important;
      margin: 0;
    }
  }
  .step_inner_main_top_div {
    .MuiStep-horizontal {
      margin: auto;
      padding: 0;
    }
  }
  .stepper_inner_div {
    width: 100%;
  }
  .step_title_div {
    .step_title_div_inner {
      width: 100%;
      margin-bottom: 10px;
    }
    margin-top: 0;
  }
  .step_title_div {
    h3 {
      font-size: 20px !important;
    }
    p {
      font-size: 15px;
    }
  }
  .Step6_inner_div {
    textarea {
      width: 100%;
    }
  }
  .questionare_page_ul_div {
    display: flex;
    padding: 0;
  }
  .Client_Profile_main_top_div_inner {
    display: none;
  }
  .get_in_touch_video {
    padding: 2rem 0;
  }
  .get_in_touch_video_inner {
    h3 {
      font-size: 25px;
      line-height: 30px;
      margin-bottom: 1rem;
    }
  }

  .Banner_text_div {
    h3 {
      font-size: 25px;
      line-height: 30px;
      margin-bottom: 0;
      br {
        display: none;
      }
      span {
        font-size: 25px;
        line-height: 30px;
      }
    }
    p {
      font-size: 14px;
      line-height: 21px;
      text-align: justify;
    }
  }

  .video_top_main_div2 {
    padding: 40px 10px;
  }
  .MyCountUp_text_div {
    margin-bottom: 0rem;
    h3 {
      font-size: 35px;
    }
    p {
      font-size: 11px;
      line-height: 19px;
      span {
        line-height: 19px;
      }
    }
  }
  .video_TopDiv_title_2 {
    text-align: center;
    h1 {
      font-size: 25px;
    }
    p {
      font-size: 11px;
    }
  }
  .vm2_img {
    height: 12rem;
    width: 18rem;
  }
  .video_TopDiv_title {
    text-align: center;
    h1 {
      margin-top: 1rem;
      font-size: 25px;
    }
    p {
      font-size: 11px;
      letter-spacing: 0;
    }
  }
  .vm1_img {
    height: 10rem;
    width: 16rem;
  }
  .shopping_cart {
    .shopping_cart_a_div {
      margin-left: 0;
      justify-content: center;
    }
  }
  .getintouch_bottom_btn_div {
    text-align: center;
  }
  .getintouch_upload_div {
    display: block;
    .getintouch_upload_btn {
      text-align: center;
    }
  }
  .getintouch_title_top_div {
    .getintouch_title_big_title {
      span {
        height: 67px;
        top: 6px;
        left: -7px;
      }
    }
    h2 {
      font-size: 15px;
    }
    h1 {
      font-size: 30px;
    }
    h4 {
      font-size: 19px;
      margin-top: 1rem;
      span {
        width: auto;
        font-size: 15px;
      }
    }
  }
  .checkout_back_btn_div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  .checkout_btn {
    justify-content: center;
  }
  .payment_modes_tab_div {
    .nav-link {
      width: 100%;
      margin: 0;
      margin-bottom: 10px;
    }
    .nav {
      display: block;
      align-items: center;
      justify-content: center;
    }
  }
  .checkout_address {
    width: 100%;
  }
  .shopping_cart_top_title {
    margin-left: 0;
    a {
      margin-left: 1rem !important;
    }
  }
  .shopping_cart_name {
    text-align: center;
    font-size: 15px;
    display: block;
    line-height: 25px;
  }
  .shopping_cart_price {
    text-align: center;
    margin-left: 0;
    margin-top: 10px;
  }
  .shopping_cart_service {
    margin-left: 0;
    justify-content: center;
  }
  .shopping_cart {
    a {
      margin-left: 0;
      justify-content: center;
    }
  }
  .my_slick_slider_title {
    text-align: center;
  }
  .my_slick_slider {
    .slick-prev {
      left: -3% !important;
      top: 6rem !important;
    }
    .slick-next {
      right: 2% !important;
      top: 6rem !important;
    }
  }
  .saved_cards_number {
    justify-content: center;
    p {
      span {
        font-size: 16px;
        margin-right: 10px;
      }
    }
    img {
      width: 39px;
      margin-top: 4px;
    }
  }
  .payment_card {
    margin-top: 1rem;
    width: 100%;
  }
  .my_proprogress_div_text {
    margin-top: 1.5rem;
  }
  .my_proprogress_div {
    margin-top: 6px;
  }
  .your_services_card_btn_Monthly {
    position: unset;
    margin-right: 15px;
    border-radius: 25px;
  }
  .your_services_card {
    margin: 0 0rem;
    text-align: center;
    h3 {
      font-size: 20px;
    }
    .full_btn {
      position: unset;
      margin-top: 1.5rem;
    }
  }
  .account_edit_icon {
    right: 10px;
  }
  .account_input_title_top_inner {
    margin-left: 0rem;
  }
  .form_input_div {
    label {
      margin-bottom: 5px;
    }
    input {
      width: 100%;
    }
  }
  .acount_img {
    margin: auto;
  }
  .account_btn_div {
    text-align: center;
  }
  .acount_title_div {
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .all_p_title {
    font-size: 24px;
    margin-bottom: 5px;
  }
  .all_h1_title {
    font-size: 40px;
  }
  .your_slow_loading {
    h3 {
      margin-top: 1.5rem;
    }
  }
  .why_you_need_number {
    h3 {
      font-size: 25px;
      margin-bottom: 1.5rem;
    }
    h4 {
      font-size: 30px;
    }
    p {
      font-size: 11px;
    }
  }
  .why_you_need_top_text {
    p {
      font-size: 18px;
    }
  }
  .website_redesign_text_img_div {
    img {
      width: 100%;
      height: 25rem;
      @include bg_img;
      margin-top: 0rem;
    }
  }
  .website_redesign_text_div {
    h3 {
      font-size: 30px;
    }
  }
  .Agreement_btn_div {
    button {
      width: 20%;
    }
  }
  .Search_my_div {
    width: 70%;
    img {
      width: 15px;
    }
    input {
      padding-left: 45px;
    }
  }
  .video_div {
    width: 100%;
    height: 23rem;
  }
  .view_case_studies_img {
    width: 100%;
    height: 22rem;
  }
  .view_case_studies_text_div {
    h3 {
      font-size: 37px;
    }
  }
  .our_clients_top_union3 {
    position: absolute;
    bottom: 17px;
    right: 8rem;
  }
  .our_clients_top_union2 {
    position: absolute;
    top: 7rem;
    right: 2rem;
  }
  .our_clients_top_union1 {
    position: absolute;
    top: 10rem;
    left: 2rem;
  }
  .our_clients_top_div {
    .our_clients_item_div {
      width: 80%;
    }
  }
  .mobile_tab_div {
    display: none;
  }
  .package_card_top_right {
    margin-top: 1rem;
  }
  .package_card_header {
    h3 {
      font-size: 15px;
    }
  }
  .package_card_top_4 {
    display: none;
  }
  .package_card_box {
    h3 {
      position: relative;
      top: unset;
      left: unset;
    }
  }
  .img_view_modal_inner_div {
    max-height: 33rem;
  }
  .img_view_modal_div {
    width: 70%;
    // height: 40rem;
  }
  .testimonial_riv_div {
    padding: 0 0rem;
  }
  .YourServices_new_address_div_inner_li {
    width: 70%;
  }
  .buy_packig_new_dropdown_div {
    .dropdown-menu.show {
      width: 100%;
    }
    button {
      width: 100%;
      &::after {
        right: 11px;
      }
    }
  }
  .YourServices_new_address_inner {
    // position: absolute;
    right: 7rem;
  }
  .getstartbtn_new {
    width: 40% !important;
  }
  .new3 {
    img {
      width: 58%;
    }
  }
  .CenterMode_top {
    .slick-next {
      right: 146px;
      top: 87px;
    }
    .slick-prev {
      left: 146px;
      top: 87px;
    }
  }
  .careers_profile_text_left {
    p {
      width: 100%;
    }
  }
  .mobile_app_tab {
    .nav {
      overflow-x: scroll;
      width: 100%;
      flex-wrap: nowrap;
      display: flex;
      .nav-link {
        width: 12rem;
        font-size: 12px;
        text-align: center;
      }
    }
  }
  .stepper_inner_div {
    width: 100%;
  }
  .step_title_div {
    .step_title_div_inner {
      width: 100%;
    }
  }
  .Step6_inner_div {
    textarea {
      width: 90%;
    }
  }
  .questionare_page_top_div {
    progress {
      width: 90%;
      left: 40px;
    }
  }

  .video_TopDiv_title_2 {
    h1 {
      font-size: 30px;
    }
    p {
      font-size: 11px;
    }
  }
  .vm2_img {
    height: 13rem;
    width: 21rem;
  }
  .video_TopDiv_title {
    h1 {
      font-size: 30px;
    }
    p {
      font-size: 11px;
    }
  }
  .vm1_img {
    height: 13rem;
    width: 21rem;
  }

  .payment_modes_tab_div {
    .nav-link {
      width: 12rem;
    }
    .nav {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .saved_cards_number {
    p {
      span {
        font-size: 20px;
        margin-right: 10px;
      }
    }
    img {
      width: 45px;
    }
  }
  .payment_card {
    width: 65%;
  }
  .your_services_card {
    margin: 0 0rem;
  }
  .account_input_title_top_inner {
    margin-left: 0rem;
  }
  .form_input_div {
    label {
      margin-bottom: 5px;
    }
    input {
      width: 100%;
    }
  }
}
@media (min-width: 1024px) {
  .all_p_title {
    font-size: 24px;
    margin-bottom: 5px;
  }
  .all_h1_title {
    font-size: 40px;
  }
  .your_slow_loading {
    h3 {
      margin-top: 0;
    }
  }
  .your_slow_loading_img {
    width: 100%;
    height: 21rem;
  }
  .why_you_need_number {
    h3 {
      font-size: 40px;
      margin-bottom: 3rem;
    }
    h4 {
      font-size: 50px;
    }
    p {
      font-size: 14px;
    }
  }
  .why_you_need_top_text {
    p {
      font-size: 28px;
    }
  }
  .website_redesign_text_img_div {
    img {
      width: 100%;
      height: 25rem;
      @include bg_img;
      margin-top: 0rem;
    }
  }
  .website_redesign_text_div {
    h3 {
      font-size: 40px;
    }
  }
  .Agreement_btn_div {
    button {
      width: 15%;
    }
  }
  .Search_my_div {
    width: 50%;
    img {
      width: 15px;
    }
    input {
      padding-left: 45px;
    }
  }
  .video_div {
    width: 100%;
    height: 30rem;
  }
  .view_case_studies_text_div {
    h3 {
      font-size: 48px;
    }
  }
  .view_case_studies_img {
    width: 100%;
    height: 28rem;
  }
  .our_clients_top_div {
    .our_clients_item_div {
      width: 50%;
    }
  }
  .our_clients_top_union3 {
    bottom: 17px;
    right: 15rem;
  }
  .our_clients_top_union2 {
    top: 7rem;
    right: 6rem;
  }
  .our_clients_top_union1 {
    top: 9rem;
    left: 7rem;
  }
  .package_card_header {
    h3 {
      font-size: 15px;
    }
  }
  .package_card_top_4 {
    display: block;
  }
  .package_card_box {
    h3 {
      position: absolute;
      top: 12px;
      left: -13rem;
    }
  }
  .package_card_top_right {
    margin-top: 1rem;
  }
  .package_card_header {
    h3 {
      font-size: 15px;
    }
  }
  .img_view_modal_inner_div {
    max-height: 43rem;
  }
  .img_view_modal_div {
    width: 70%;
  }
  .testimonial_riv_div {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    padding: 0 0rem;
  }
  .YourServices_new_address_div_inner_li {
    width: 80%;
  }
  .cart_div_new {
    img {
      height: 5rem;
      width: 5rem;
    }
    .cart_div_new_title {
      font-size: 11px;
      line-height: 15px;
    }
    .cart_div_new_price {
      font-size: 18px;
    }
  }
  .buy_packig_new_dropdown_div {
    .dropdown-menu.show {
      width: 100%;
    }
    button {
      width: 100%;
      &::after {
        right: 11px;
      }
    }
  }
  .YourServices_new_address_inner {
    // position: absolute;
    right: 10rem;
  }
  .getstartbtn_new {
    width: 28% !important;
  }
  .new3 {
    img {
      width: 70%;
    }
  }
  .CenterMode_top {
    .slick-next {
      right: 146px;
      top: 87px;
    }
    .slick-prev {
      left: 146px;
      top: 87px;
    }
  }

  .design_inspiration_img {
    height: 13rem;
    width: 100%;
  }
  .careers_profile_text_left {
    p {
      width: 92%;
    }
  }
  .mobile_app_tab {
    .nav {
      overflow-x: unset;
      width: 100%;
      flex-wrap: wrap;
      display: flex;
    }
    .nav-item {
      margin: auto;
      .nav-link {
        width: unset;
        text-align: unset;
        font-size: 13px;
      }
    }
  }
  .stepper_inner_div {
    width: 75%;
  }
  .step_title_div {
    .step_title_div_inner {
      width: 80%;
    }
  }
  .Step6_inner_div {
    textarea {
      width: 70%;
    }
  }
  .questionare_page_top_div {
    progress {
      width: 90%;
      left: 53px;
    }
  }

  .video_TopDiv_title_2 {
    h1 {
      font-size: 40px;
    }
    p {
      font-size: 14px;
    }
  }
  .vm2_img {
    height: 19rem;
    width: 29rem;
  }
  .video_TopDiv_title {
    h1 {
      font-size: 48px;
    }
    p {
      font-size: 14px;
    }
  }
  .vm1_img {
    height: 19rem;
    width: 30rem;
  }

  .payment_modes_tab_div {
    .nav-link {
      width: 12rem;
    }
    .nav {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }
  .checkout_address {
    width: 80%;
  }
  .my_slick_slider {
    .slick-prev {
      left: -4% !important;
      top: 6rem !important;
    }
    .slick-next {
      right: -2% !important;
      top: 6rem !important;
    }
  }
  .saved_cards_number {
    p {
      span {
        font-size: 15px;
        margin-right: 7px;
      }
    }
    img {
      width: 45px;
    }
  }
  .payment_card {
    width: 48%;
  }
  .your_services_card {
    margin: 0 0rem;
  }
  .form_input_div {
    label {
      margin-bottom: 0;
    }
    input {
      width: 640px;
    }
  }
  .account_input_title_top_inner {
    margin-left: 6rem;
  }
}
@media (min-width: 1440px) {
  .all_h1_title {
    font-size: 40px;
  }
  .all_p_title {
    font-size: 24px;
    margin-bottom: 5px;
  }
  .your_slow_loading_img {
    width: 100%;
    height: 25rem;
  }
  .why_you_need_number {
    h3 {
      font-size: 40px;
      margin-bottom: 3rem;
    }
    h4 {
      font-size: 60px;
    }
    p {
      font-size: 14px;
    }
  }
  .website_redesign_text_img_div {
    img {
      width: 100%;
      height: 25rem;
      margin-top: 3rem;
    }
  }
  .website_redesign_text_div {
    padding-top: 3rem;
    h3 {
      font-size: 48px;
      margin-bottom: 2rem;
    }
  }
  .Search_my_div {
    width: 37%;
    img {
      width: 15px;
    }
    input {
      padding-left: 45px;
    }
  }
  .view_case_studies_img {
    width: 100%;
    height: 31rem;
  }
  .our_clients_top_union3 {
    bottom: 17px;
    right: 21rem;
  }
  .our_clients_top_union2 {
    top: 6rem;
    right: 10rem;
  }
  .our_clients_top_union1 {
    top: 10rem;
    left: 14rem;
  }
  .package_card_top_right {
    margin-top: 0;
  }
  .package_card_header {
    h3 {
      font-size: 17px;
    }
  }
  .img_view_modal_inner_div {
    max-height: 43rem;
  }
  .img_view_modal_div {
    width: 50%;
  }
  .testimonial_riv_div {
    padding: 0 7rem;
  }
  .cart_div_new {
    img {
      height: 5rem;
      width: 5rem;
    }
    .cart_div_new_title {
      font-size: 15px;
      line-height: 17px;
    }
    .cart_div_new_price {
      font-size: 18px;
    }
  }
  .buy_packig_new_dropdown_div {
    .dropdown-menu.show {
      width: 85%;
    }
    button {
      width: 85%;
      &::after {
        right: 35px;
      }
    }
  }
  .getstartbtn_new {
    width: 22% !important;
  }
  .CenterMode_top {
    .slick-next {
      right: 146px;
      top: 83px;
    }
    .slick-prev {
      left: 146px;
      top: 83px;
    }
  }

  .design_inspiration_img {
    height: 15rem;
    width: 100%;
  }
  .mobile_app_tab {
    .nav-item {
      margin: auto;
      .nav-link {
        font-size: 15px;
      }
    }
  }
  .step_title_div {
    .step_title_div_inner {
      width: 65%;
    }
  }
  .Step6_inner_div {
    textarea {
      width: 50%;
    }
  }
  .questionare_page_top_div {
    progress {
      width: 90%;
    }
  }

  .video_TopDiv_title_2 {
    h1 {
      font-size: 48px;
    }
    p {
      font-size: 14px;
    }
  }
  .vm2_img {
    height: 22rem;
    width: 35rem;
  }
  .vm1_img {
    height: 22rem;
    width: 35rem;
  }

  .payment_modes_tab_div {
    .nav-link {
      width: 13rem;
    }
    .nav {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }
  .checkout_address {
    width: 45%;
  }
  .my_slick_slider {
    .slick-prev {
      left: -2% !important;
      top: 6rem !important;
    }
    .slick-next {
      right: -2% !important;
      top: 6rem !important;
    }
  }
  .saved_cards_number {
    p {
      span {
        font-size: 27px;
        margin-right: 10px;
      }
    }
    img {
      width: 45px;
    }
  }
  .payment_card {
    width: 35%;
  }
  .your_services_card {
    margin: 0 10rem;
  }
}
