@import "--var.scss";
@import "--mixing.scss";
@media (max-width: 320px) {
  .saved_cards_number {
    justify-content: left !important;
  }
}
@media (max-width: 576px) {
  .careers_profile_text_div {
    h3 {
      font-size: 16px !important;
    }
  }
  .tab_main_top_div {
    .nav {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      overflow-x: scroll;
      width: 100%;
      flex-wrap: nowrap;
    }
  }
  .careers_profile_text_left {
    p {
      width: 100%;
      margin-top: 1.5rem;
      font-size: 13px;
      line-height: 19px;
      padding-left: 10px;
      text-align: justify;
    }
  }
  .mobile_app_tab {
    .nav {
      overflow-x: scroll;
      width: 100%;
      flex-wrap: nowrap;
      display: flex;
      .nav-link {
        width: 12rem;
        font-size: 12px;
        text-align: center;
      }
    }
  }
  .grleads {
    background-image: none;
  }
  .services_modal_page_div {
    .services_modal_page_inner {
      top: 0rem;
      left: 0rem;
      position: absolute;
      cursor: pointer;
    }
  }
  .creationsublink {
    font-size: 20px;
  }
  .stepper_inner_title_div {
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 0rem;
    padding-left: 10px;
    padding-right: 10px;
    h3 {
      font-size: 15px !important;
      margin: 0;
    }
  }
  .step_inner_main_top_div {
    .MuiStep-horizontal {
      margin: auto;
      padding: 0;
    }
  }
  .stepper_inner_div {
    width: 100%;
  }
  .step_title_div {
    .step_title_div_inner {
      width: 100%;
      margin-bottom: 10px;
    }
    margin-top: 0;
  }
  .step_title_div {
    h3 {
      font-size: 20px !important;
    }
    p {
      font-size: 15px;
    }
  }
  .Step6_inner_div {
    textarea {
      width: 100%;
    }
  }
  .questionare_page_ul_div {
    display: flex;
    padding: 0;
  }
  .Client_Profile_main_top_div_inner {
    display: none;
  }
  .get_in_touch_video {
    padding: 2rem 0;
  }
  .get_in_touch_video_inner {
    h3 {
      font-size: 25px;
      line-height: 30px;
      margin-bottom: 1rem;
    }
  }
  .package_card {
    h3 {
      font-size: 25px;
      line-height: 30px;
      margin-bottom: 0;
    }
    p {
      font-size: 14px;
      line-height: 21px;
    }
  }
  .Banner_text_div {
    h3 {
      font-size: 25px;
      line-height: 30px;
      margin-bottom: 0;
      br {
        display: none;
      }
      span {
        font-size: 25px;
        line-height: 30px;
      }
    }
    p {
      font-size: 14px;
      line-height: 21px;
      text-align: justify;
    }
  }

  .package_card_box_btn_div {
    position: unset;
    margin-top: 2rem;
    margin-bottom: 0;
  }
  .package_card_box {
    min-height: auto;
  }
  .package_card_box_col {
    margin-right: unset;
    margin-bottom: 1.5rem;
  }
  .video_top_main_div2 {
    padding: 40px 10px;
  }
  .MyCountUp_text_div {
    margin-bottom: 0rem;
    h3 {
      font-size: 35px;
    }
    p {
      font-size: 11px;
      line-height: 19px;
      span {
        line-height: 19px;
      }
    }
  }
  .video_TopDiv_title_2 {
    text-align: center;
    h1 {
      font-size: 25px;
    }
    p {
      font-size: 11px;
    }
  }
  .vm2_img {
    height: 12rem;
    width: 18rem;
  }
  .video_TopDiv_title {
    text-align: center;
    h1 {
      margin-top: 1rem;
      font-size: 25px;
    }
    p {
      font-size: 11px;
      letter-spacing: 0;
    }
  }
  .vm1_img {
    height: 10rem;
    width: 16rem;
  }
  .shopping_cart {
    .shopping_cart_a_div {
      margin-left: 0;
      justify-content: center;
    }
  }
  .getintouch_bottom_btn_div {
    text-align: center;
  }
  .getintouch_upload_div {
    display: block;
    .getintouch_upload_btn {
      text-align: center;
    }
  }
  .getintouch_title_top_div {
    .getintouch_title_big_title {
      span {
        height: 67px;
        top: 6px;
        left: -7px;
      }
    }
    h2 {
      font-size: 15px;
    }
    h1 {
      font-size: 30px;
    }
    h4 {
      font-size: 19px;
      margin-top: 1rem;
      span {
        width: auto;
        font-size: 15px;
      }
    }
  }
  .checkout_back_btn_div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  .checkout_btn {
    justify-content: center;
  }
  .payment_modes_tab_div {
    .nav-link {
      width: 100%;
      margin: 0;
      margin-bottom: 10px;
    }
    .nav {
      display: block;
      align-items: center;
      justify-content: center;
    }
  }
  .checkout_address {
    width: 100%;
  }
  .shopping_cart_top_title {
    margin-left: 0;
    a {
      margin-left: 1rem !important;
    }
  }
  .shopping_cart_name {
    text-align: center;
    font-size: 15px;
    display: block;
    line-height: 3px;
  }
  .shopping_cart_price {
    text-align: center;
    margin-left: 0;
    margin-top: 10px;
  }
  .shopping_cart_service {
    margin-left: 0;
    justify-content: center;
  }
  .shopping_cart {
    a {
      margin-left: 0;
      justify-content: center;
    }
  }
  .my_slick_slider_title {
    text-align: center;
  }
  .my_slick_slider {
    .slick-prev {
      left: -3% !important;
      top: 6rem !important;
    }
    .slick-next {
      right: 2% !important;
      top: 6rem !important;
    }
  }
  .saved_cards_number {
    justify-content: center;
    p {
      span {
        font-size: 16px;
        margin-right: 10px;
      }
    }
    img {
      width: 39px;
      margin-top: 4px;
    }
  }
  .payment_card {
    margin-top: 1rem;
    width: 100%;
  }
  .my_proprogress_div_text {
    margin-top: 1.5rem;
  }
  .my_proprogress_div {
    margin-top: 6px;
  }
  .your_services_card_btn_Monthly {
    position: unset;
    margin-right: 15px;
    border-radius: 25px;
  }
  .your_services_card {
    margin: 0 0rem;
    text-align: center;
    h3 {
      font-size: 20px;
    }
    .full_btn {
      position: unset;
      margin-top: 1.5rem;
    }
  }
  .account_edit_icon {
    right: 10px;
  }
  .account_input_title_top_inner {
    margin-left: 0rem;
  }
  .form_input_div {
    label {
      margin-bottom: 5px;
    }
    input {
      width: 100%;
    }
  }
  .acount_img {
    margin: auto;
  }
  .account_btn_div {
    text-align: center;
  }
  .acount_title_div {
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .careers_profile_text_left {
    p {
      width: 100%;
    }
  }
  .mobile_app_tab {
    .nav {
      overflow-x: scroll;
      width: 100%;
      flex-wrap: nowrap;
      display: flex;
      .nav-link {
        width: 12rem;
        font-size: 12px;
        text-align: center;
      }
    }
  }
  .stepper_inner_div {
    width: 100%;
  }
  .step_title_div {
    .step_title_div_inner {
      width: 100%;
    }
  }
  .Step6_inner_div {
    textarea {
      width: 90%;
    }
  }
  .questionare_page_top_div {
    progress {
      width: 90%;
      left: 40px;
    }
  }
  .package_card_box_btn_div {
    left: 65px;
  }
  .package_card_box {
    min-height: 65rem;
  }
  .video_TopDiv_title_2 {
    h1 {
      font-size: 30px;
    }
    p {
      font-size: 11px;
    }
  }
  .vm2_img {
    height: 13rem;
    width: 21rem;
  }
  .video_TopDiv_title {
    h1 {
      font-size: 30px;
    }
    p {
      font-size: 11px;
    }
  }
  .vm1_img {
    height: 13rem;
    width: 21rem;
  }

  .payment_modes_tab_div {
    .nav-link {
      width: 12rem;
    }
    .nav {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .saved_cards_number {
    p {
      span {
        font-size: 20px;
        margin-right: 10px;
      }
    }
    img {
      width: 45px;
    }
  }
  .payment_card {
    width: 65%;
  }
  .your_services_card {
    margin: 0 0rem;
  }
  .account_input_title_top_inner {
    margin-left: 0rem;
  }
  .form_input_div {
    label {
      margin-bottom: 5px;
    }
    input {
      width: 100%;
    }
  }
}
@media (min-width: 1024px) {
  .careers_profile_text_left {
    p {
      width: 92%;
    }
  }
  .mobile_app_tab {
    .nav {
      overflow-x: unset;
      width: 100%;
      flex-wrap: wrap;
      display: flex;
    }
    .nav-item {
      margin: auto;
      .nav-link {
        width: unset;
        text-align: unset;
        font-size: 13px;
      }
    }
  }
  .stepper_inner_div {
    width: 75%;
  }
  .step_title_div {
    .step_title_div_inner {
      width: 80%;
    }
  }
  .Step6_inner_div {
    textarea {
      width: 70%;
    }
  }
  .questionare_page_top_div {
    progress {
      width: 90%;
      left: 53px;
    }
  }
  .package_card_box_btn_div {
    left: 45px;
  }
  .package_card_box {
    min-height: 70rem;
  }
  .video_TopDiv_title_2 {
    h1 {
      font-size: 40px;
    }
    p {
      font-size: 14px;
    }
  }
  .vm2_img {
    height: 19rem;
    width: 29rem;
  }
  .video_TopDiv_title {
    h1 {
      font-size: 48px;
    }
    p {
      font-size: 14px;
    }
  }
  .vm1_img {
    height: 19rem;
    width: 30rem;
  }

  .payment_modes_tab_div {
    .nav-link {
      width: 12rem;
    }
    .nav {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }
  .checkout_address {
    width: 80%;
  }
  .my_slick_slider {
    .slick-prev {
      left: -4% !important;
      top: 6rem !important;
    }
    .slick-next {
      right: -2% !important;
      top: 6rem !important;
    }
  }
  .saved_cards_number {
    p {
      span {
        font-size: 15px;
        margin-right: 7px;
      }
    }
    img {
      width: 45px;
    }
  }
  .payment_card {
    width: 48%;
  }
  .your_services_card {
    margin: 0 0rem;
  }
  .form_input_div {
    label {
      margin-bottom: 0;
    }
    input {
      width: 640px;
    }
  }
  .account_input_title_top_inner {
    margin-left: 6rem;
  }
}
@media (min-width: 1440px) {
  .mobile_app_tab {
    .nav-item {
      margin: auto;
      .nav-link {
        font-size: 15px;
      }
    }
  }
  .step_title_div {
    .step_title_div_inner {
      width: 65%;
    }
  }
  .Step6_inner_div {
    textarea {
      width: 50%;
    }
  }
  .questionare_page_top_div {
    progress {
      width: 90%;
    }
  }
  .package_card_box_btn_div {
    left: 110px;
  }
  .package_card_box {
    min-height: 60rem;
  }
  .video_TopDiv_title_2 {
    h1 {
      font-size: 48px;
    }
    p {
      font-size: 14px;
    }
  }
  .vm2_img {
    height: 22rem;
    width: 35rem;
  }
  .vm1_img {
    height: 22rem;
    width: 35rem;
  }

  .payment_modes_tab_div {
    .nav-link {
      width: 13rem;
    }
    .nav {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }
  .checkout_address {
    width: 45%;
  }
  .my_slick_slider {
    .slick-prev {
      left: -2% !important;
      top: 6rem !important;
    }
    .slick-next {
      right: -2% !important;
      top: 6rem !important;
    }
  }
  .saved_cards_number {
    p {
      span {
        font-size: 27px;
        margin-right: 10px;
      }
    }
    img {
      width: 45px;
    }
  }
  .payment_card {
    width: 35%;
  }
  .your_services_card {
    margin: 0 10rem;
  }
}
